<<<<<<< HEAD
<style>
input[class="label"]{
  text-size:17px;

}
input[class="inputdata"]{
  width=400px;
  height=200px;

}
input[class="create"]{
  width:90px;
  height:60px;

}
input[class="create"]:hover{
  width:90px;
  height:60px;
  background-color:blue;


}
.editbutton:hover{
 background-color:blue;
}
input[class="inputdata"]{
   height:50px;
  width:400px;
}
input[class="label"]{
 font-size:17px;
}

#fields{
 vertical-align:up;

}
#first{
width:50%;
position:relative;
top:-260px;
left:52%;
float:left;


}
#second{
width:50%;
position:relative;

}
#whole{
width:100%;
position:relative;
}
.myusers tr td,.myusers tr th{
  border:1px solid black;

}
#leftbutton .create{
 width:90px;
 height:61px;
 
 position:relative;
left:-600px;
 

}
 

</style>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
=======
<table align="center" width="100%">
<tr> 
 <!--start of first table-->	
		<td><div class="box" id="box7"  name="tablevalue">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
 <!--error message-->
>>>>>>> 848c0b16b5889221e50d72ddca325c6964217d09
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD


<table>
 <thead>
 </thead>
<tbody>
 <tr>
	
 <tr>
	<th><legend>Enter User Details</legend></th>
  </tr>
 <tr>
 
    <td><%= f.label :name, 'Name :' ,:class=>"label"%></td>
    <td><%= f.text_field :name,:class=>"inputdata",:maxlength=>"4" %></td>
  
</tr>
<tr>
  
    <td><%= f.label :password, 'Password :' %></td>
   <td> <%= f.password_field :password_digest ,:class=>"inputdata"%></td>
  
</tr>
  <tr>
    <td><%= f.label :password_confirmation, 'Confirm :' %></td>
    <td><%= f.password_field :password_confirmation,:class=>"inputdata" %></td>
  <tr>
 <tr>
  
    <td><%= f.submit 'create user',:class=>'create'%></td>
  
  </tr>

</tr>
</tbody>
<% end %>
</table>
=======
<!--end of error message-->
	<fieldset height="600px">
<table>
<thead>
<tr>
 <th colspan="3"><strong>Please enter user details</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><div class="field">
    <%= f.label :name, 'Name :' %></td><td></td><td>
    <%= f.text_field :name %>
  </div></td>
</tr>
<br>

<td> <div class="field">
    <%= f.label :password, 'Password :' %></td><td></td><td>
    <%= f.password_field :password %>
  </div>
  </td>
</tr>
<tr>
<td><div class="field">
    <%= f.label :password_confirmation, 'Confirm :' %></td><td></td><td>
    <%= f.password_field :password_confirmation %>
  </div</td>
</tr>


  <tr><td><div class="actions">
    <%= f.submit%>
  </div></td><td></td><td><div class="userback"></div></td></tr>
</tbody>

</table>
</fieldset>
<% end %>
</div>
</tr>
</table>




>>>>>>> 848c0b16b5889221e50d72ddca325c6964217d09
