<table align="center">
<tr>	
		<td><div class="box" id="box7">
<table>
	<table class="table">
  <thead>
    <tr>
			<div class="header">
      <th align="left" >Name</th>
      
      <th align="left" ></th>
     
      <th></th>
			</div>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td align="left">Encounters Voided</td>
       
        
				<td><div class="button"><%= button_to 'Display', {:controller=> "tryout", :action => "reader"}, :method => :get  %></div></td>
        <td><div class="button"><%= button_to 'Piechart', {:controller=> "tryout", :action => "piechart"}, :method => :get %></div></td>
        <td><div class="button"><%= button_to 'Linegraph', {:controller=> "tryout", :action => "results"}, :method => :get %> </div></td>
      </tr>
  </tbody>

</table>
</div></td>
		<td><div class="box" id="box8">
			<table>
				<tr>
					<td><div class="button"><%= button_to 'New Indicator',{:controller=> "indicators", :action => "new"}, :method => :get %></div></td>
				</tr>
				<tr>
				<td><div class="button"><%= button_to 'Back',{:controller=> "admin", :action => "index"}, :method => :get %></div></td>
</tr>		
			</table>
		</div>
		</td>
</tr>
</table>
