<table align="center">
<tr>	
		<td><div class="box" id="box7">
<table>
	<table class="table">
  <thead>
    <tr>
			<div class="header">
      <th align="left" >Name</th>
      
      <th align="left" >Goal</th>
     
      <th>Description</th>
			</div>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td align="left"><%= indicator.name %></td>
       
        <td align="left" ><%= indicator.goal %></td>
        
   <td align="left" ><%= indicator.description %></td>
				<td><div class="button"><%= button_to 'Show', indicator_path(indicator), :method=>:post %></div></td>
        <td><div class="button"><%= button_to 'Edit', edit_indicator_path(indicator), :method=>:get %></div></td>
        <td><div class="button"><%= button_to 'Void', indicator, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div></td>
		<td><div class="box" id="box8">
			<table>
				<tr>
					<td><div class="button"><%= button_to 'New Indicator',{:controller=> "indicators", :action => "new"}, :method => :get %></div></td>
				</tr>
				<tr>
				<td><div class="button"><%= button_to 'Back',{:controller=> "admin", :action => "index"}, :method => :get %></div></td>
</tr>		
			</table>
		</div>
		</td>
</tr>
</table>
